.xans-myshop-addrregister .grid { font-size:12px; margin:7px 0 0; }
.xans-myshop-addrregister span.grid { margin:0 0 0 6px; position:relative; top:2px; }
.xans-myshop-addrregister .required { margin:0 0 10px; color:#353535; text-align:right; }
.xans-myshop-addrregister .required img { vertical-align:middle; }
.xans-myshop-addrregister #ma_rcv_title { width:180px; }
.xans-myshop-addrregister #ma_rcv_name, .xans-myshop-addrregister #ma_rcv_name_last,
.xans-myshop-addrregister #ma_rcv_name_en, .xans-myshop-addrregister #name_en_last,
.xans-myshop-addrregister #ma_rcv_name_phonetic, .xans-myshop-addrregister #name_phonetic_last { width:83px; }
.xans-myshop-addrregister #ma_rcv_name.ec-member-name, .xans-myshop-addrregister #ma_rcv_name_en.ec-member-name,
.xans-myshop-addrregister #ma_rcv_name_phonetic.ec-member-name { width:180px; }
.xans-myshop-addrregister #ma_rcv_phone2, .xans-myshop-addrregister #ma_rcv_phone3,
.xans-myshop-addrregister #ma_rcv_mobile_no2, .xans-myshop-addrregister #ma_rcv_mobile_no3 { margin:0 4px; }