#contents { padding:0 0 29px; }
.xans-mall-commercial .agreeBox { margin:14px 7px 0; line-height:1.5; border:1px solid #ccc; background:#fff; }
.xans-mall-commercial .agree { padding:14px; color:#777; font-size:12px; word-break:break-word; }