.xans-myshop-orderregularmanagedetailregister,
.xans-myshop-orderregularmanagedetaillist { padding:7px; }
.xans-myshop-orderregularmanagedetaillist:first-of-type { padding-top:14px; }
.xans-myshop-orderregularmanagedetaillist .ec-base-table table th,
.xans-myshop-orderregularmanagedetaillist .ec-base-table table td { vertical-align:top; }
.xans-myshop-orderregularmanagedetaillist .ec-base-table.typeWrite th,
.xans-myshop-orderregularmanagedetaillist .ec-base-table.typeWrite td { line-height:20px; }
.xans-myshop-orderregularmanagedetaillist .ec-base-table table  td.hasBtn { line-height: 25px; }
.xans-myshop-orderregularmanagedetaillist .fSelect { width:100%; }
.xans-myshop-orderregularmanagedetaillist .txtLess { color:#757575; }
.xans-myshop-orderregularmanagedetaillist .txtDel { text-decoration:line-through; color:#b8b8b8; }
.xans-myshop-orderregularmanagedetaillist .badge { display:inline-block; position:relative; top:-1px; height:18px; margin:0 0 0 2px; padding:0 6px; border-radius:10px; line-height:18px; font-size:11px; color:#fff; background-color:#009ffa; }
.xans-myshop-orderregularmanagedetaillist .badge .icoDown { display:inline-block; position:relative; top:1px; overflow:hidden; width:8px; height:12px; margin:0 0 0 3px; border-radius:50%; line-height:10px; text-indent:-9999px; }
.xans-myshop-orderregularmanagedetaillist .badge .icoDown:before { content:""; display:inline-block; position:absolute; top:3px; left:2px; width:4px; height:4px; background-color:#fff; }
.xans-myshop-orderregularmanagedetaillist .badge .icoDown:after { content:""; display:inline-block; position:absolute; bottom:1px; left:0; width:0; height:0; border-left:4px solid transparent; border-right:4px solid transparent; border-top:4px solid #fff; }
.xans-myshop-orderregularmanagedetaillist .datepicker { position:relative; overflow:hidden; font-size: 13px;  font-weight: inherit;  color: #353535;  border: 1px solid #d7d5d5;  border-radius: 2px;  outline-style: none;  -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box; }
.xans-myshop-orderregularmanagedetaillist .datepicker button.ui-datepicker-trigger { position:absolute; top:3px; right:10px; width:20px; border:none; cursor:pointer; background:none; }
.xans-myshop-orderregularmanagedetaillist .datepicker input.hasDatepicker { cursor:pointer; width:100%; padding:10px 20px 10px 10px; border:0; }
.xans-myshop-orderregularmanagedetaillist .datepicker .inputDelivery { width:100%; border:none; }
.xans-myshop-orderregularmanagedetaillist .datepicker + p { margin:8px 0 8px; }
.xans-myshop-orderregularmanagedetaillist .ec-base-prdInfo .prdBox + .ec-base-table { border-top:1px solid #ececec; }
.xans-myshop-orderregularmanagedetaillist .userInfo .gRight { float:right; text-align:right; }
.xans-myshop-orderregularmanagedetaillist .userInfo .gRight:after { content:""; display:block; clear:both; }
.xans-myshop-orderregularmanagedetaillist .userInfo .contents .ec-base-table {border-top: 2px solid #ececec}

/* 옵션변경 레이어 추가 */
.optionModify { display:none; width:450px; color:#707070; }
.optionModify .prdInfo { margin:0 0 10px; padding:0 0 10px; border-bottom:1px dotted #b0b1b3; line-height:1.5; }
.optionModify .prdInfo li { color:#353535; font-weight:bold; }
.optionModify .prdInfo li.option { color:#707070; font-weight:normal; }
.optionModify .prdModify h4 { color:#353535; font-size:12px; }
.optionModify .prdModify li { padding:6px 0 0; }
.optionModify .prdModify li:after { content:""; display:block; clear:both; }
.optionModify .prdModify li span { float:left; width:110px; margin:3px 0 0; }
.optionModify .prdModify li select { float:right; width:294px; line-height:24px; font-size:12px; }
.optionModify .prdModify li input[type=text] { float:right; width:284px; }

.xans-myshop-orderregularmanagedetailregister .cardList { gap:20px; }
.xans-myshop-orderregularmanagedetailregister .cardList li.status .type,
.xans-myshop-orderregularmanagedetailregister .cardList li.status span { color:#353535; }
.xans-myshop-orderregularmanagedetailregister .cardList li.status span { font-weight:normal; }
.xans-myshop-orderregularmanagedetailregister .cardList li.status {display: flex; justify-content: space-between; align-items: center; gap:10px; }
.xans-myshop-orderregularmanagedetailregister .cardList li.status .cardInfo { flex:1; }
.xans-myshop-orderregularmanagedetailregister .cardList li.status .button { flex:1; min-width: auto; }
.xans-myshop-orderregularmanagedetailregister .cardList li.status .button [class^='btn'] { display: block; }
.xans-myshop-orderregularmanagedetailregister .cardList.registed li.status .cardNumber { display:none; }
.xans-myshop-orderregularmanagedetailregister .cardList.registed li.status.done .type { display: block; margin-bottom:10px; }
.xans-myshop-orderregularmanagedetailregister .cardList.registed li.status.done .cardNumber { display:inline-block; margin:0; }
.xans-myshop-orderregularmanagedetailregister .cardList.registed li.status.done { flex-direction: column; align-items: stretch; }
.xans-myshop-orderregularmanagedetailregister .cardList.registed li.status.done .button { display:flex; gap:10px;}
.xans-myshop-orderregularmanagedetailregister .cardList.registed li.status.done .button [class^='btn'] { flex:1; }