<nav module="Layout_MobileNavigation">
    <!--@css(/css/module/layout/mobileNavigation.css)-->
    <!--
        $eventmenu = yes
    -->
    <ul class="{$navigation_grid}">
        <li module="Layout_statelogoff"><a href="/member/login.html">ログイン</a></li>
        <li module="Layout_statelogon"><a href="{$action_logout}">ログアウト</a></li>
        <li><a href="/myshop/order/list.html">注文履歴</a></li>
        <li><a href="/myshop/index.html">マイページ</a></li>
        <li class="{$board_display|display}"><a href="/board/index.html">掲示板</a></li>
        <li class="{$event_menu_display|display}"><a href="/board/free/list.html?board_no=2">イベント</a></li>
    </ul>
</nav>
