.xans-board-search { padding:20px 0 20px 10px; color:#2e2e2e; font-size:12px; }
.xans-board-search .boardSearch { display:block; }
.xans-board-search p { margin:0 0 10px; padding:0 0 0 7px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_triangle3.gif") no-repeat 0 45%; }
.xans-board-search p.category:before { content:"商品分類"; }
.xans-board-search p:before { content:"キーワード"; }
.xans-board-search .category select { margin:0 4px 0 0; width:150px; }
.xans-board-search .category select#product_category_depth1 { width:168px; margin:0 5px 0 28px; }
.xans-board-search select { margin:0 2px 0 0; width:72px; }
.xans-board-search select#search_date { margin:0 2px 0 22px; }
.xans-board-search select#search_key { width:90px; }
.xans-board-search input { width:162px; }
.xans-board-search .boardSearch img { vertical-align:middle; }